/* BLOBS */

.blob__blur1 {
    position: absolute;

    width: 34.8rem;
    height: 34.6rem;
    margin-top: -4.3rem;
    margin-left: -16rem;
    /* margin-right: 70.9rem;
    margin-bottom: 111rem; */
    top: -69px;

    background: #28a160;
    opacity: 0.65;
    filter: blur(200px);
    z-index: -1;
}

.blob__blur2 {
    position: absolute;
    width: 34.8rem;
    height: 34.6rem;
    margin-top: 20.3rem;
    margin-left: 75.3rem;
    /* margin-right: -20rem;
    margin-bottom: 86.6rem; */
    top: -69px;

    background: #1a814b;
    opacity: 0.88;
    filter: blur(200px);
    z-index: -1;
}

.blob__blur3 {
    position: absolute;
    width: 34.8rem;
    height: 34.6rem;
    margin-top: 63.4rem;
    left: 20%;
    transform: translateX(-20%);
    /* margin-right: 46.7rem;
    margin-bottom: 33.4rem; */

    background: #28a160;
    opacity: 0.65;
    filter: blur(200px);
    border-radius: 80%;
    z-index: -1;
}

/* .blob__blur4 {
    position: absolute;
    width: 34.8rem;
    height: 34.6rem;
    margin-top: 91.6rem;
    margin-left: 68.1rem;


    background: #28a160;
    opacity: 0.65;
    filter: blur(200px);
    border-radius: 100%;
    z-index: -1;
} */
